*{
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(to bottom right, red, blue, green);
  background-attachment: fixed;
  background-size: cover;
}
.h{
  text-align: center;
  margin: 40px;
  font-size: 50px;
  color: rgb(0,255,255);
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 0 15px 0 15px;
}
.card{
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  width: 200px;
  height: auto;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.03);
}
.card-name{
  font-size: 30px;
  color: rgb(0, 255, 255);
}
.card-image{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.name-desc{
  color: white;
  font-size: 20px;
  line-height: 26px;
}
.card-desc{
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 10px;
  border-top: solid 1px grey;
  padding-top: 8px;
  width: 100%;
}
.desc-image{
  width: 30px;
  border-radius: 25px;
}
.desc-name{
  font-weight: bold;
  color: rgb(0, 255, 255);
}
