*{
  margin: 0;
  padding: 0;
}
.h{
  text-align: center;
  margin: 20px;
  font-size: 5vh;
  color: green;
}
.container{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px;
}
.card{
  box-shadow: 0 0 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  width: 200px;
}
.card-name{
  font-size: 30px;
}
.card-image{
  width: 100%;
  border-radius: 10px;
}
.card-desc{
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 10px;
  border-top: solid 1px grey;
  padding-top: 8px;
  width: 100%;
}
.desc-image{
  width: 30px;
  border-radius: 25px;
}
